#app {
  display: flex;
  background-color: lightgray;
}
.panel {
  flex: 1;
  border: 1px gray solid;
  margin: 5px;
  background-color: white;
  display: flex;
}
.panel-model {
  width: 300px;
  height: 500px;
  border-right: 1px gray solid;
  background-color: #e6e6e6;
}
.panel-query {
  width: 100%;
}
.btn-tooltip {
  font-size: 6px !important;
  border-radius: 50% !important;
  padding: 0 !important;
  width: 10px !important;
  height: 10px !important;
}
.item-label {
  font-size: 12px;
}
.item-wrapper {
  border-radius: 2px;
  border: 1px solid #e6e6e6;
  min-height: 30px;
}
.item-content {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  border-radius: 2px;
  border: 1px solid rgb(99, 99, 194);
  display: flex;
  margin: 2px;

  .item-remove {
    display: none;
    font-size: 12px;
    padding: 2px 5px;
    cursor: pointer;
  }
  &:hover {
    .item-remove {
      display: block;
    }
  }

  .item-left {
    display: flex;
    cursor: pointer;
    position: relative;
    .item-drop {
      font-size: 12px;
      padding: 2px 4px;
    }
    .item-mode {
      font-size: 10px;
      padding: 4px;
    }
    .item-option {
      position: absolute;
      left: 0px;
      top: 24px;
      .card {
        width: 250px;
        z-index: 2;
        .card-body {
          padding: 10px;
          .card-title {
            font-size: 14px;
          }
        }
      }
    }
  }

} 
.item-model {
  background-color: white;
  font-size: 10px;
  margin: 3px;
  padding: 1px 5px;
  border-radius: 2px;
  .item-icon {
    margin-right: 5px;
    color: gray;
  }
}
.item-blank {
  min-height: 30px;
}